
body {
    background-color: black;
}

p {
    color: white;
}

h1 {
    color: #31A8DD;
}

section {
    margin: 100px auto;
}

h2 {
    color: #31A8DD;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 4px;
}

.banner {
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 550px;
    text-align: center;
    border-bottom: 1px solid #31A8DD;
    
}

.banner .banner-content {
    color: white;
    text-align: center;
    width: 400px;
    margin: auto;
    
}

.banner h1 {
    color: #31A8DD;
    font-size: 2.5rem;
    
}

.banner .banner-content button {
    color: #31A8DD;
    background-color: transparent;
    font-weight: bold;
    padding: 16px 32px;
    border-color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

.banner .logo {
    background-color: rgba(0, 0, 0, 2);
    height: 260px;
    width: 260px;
    margin: auto;
    padding: 16px;
    border-radius: 50%;
    margin-bottom: 16px;
}

#course-content {
    color: white;
    text-align: center;
    height: 550px;
    width: auto;
        
    
}

#course-content h2 {
    color: #31A8DD;
    text-align: center;
    text-transform: uppercase;
    height: 24px;
    width: auto;
    margin: 50px;
    letter-spacing: 4px;
    }

#course-content p {
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
}    

#course-content .modules-list .module span {
    color: #31a8dd;
}

#course-content .modules-list .module {
    border: 1px solid #31A8DD ;
    border-radius: 100px;
    padding: 16px ;
    width: 550px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .1);
    margin-left: 300px;
    margin-bottom: 24px;
    background-color: #252525;
}

#transform-world {
    background-image: url(images/woman-code.png);
    background-size: cover;
    border-top: 1px solid #31A8DD;
    border-bottom: 1px solid #31A8DD;
    background-attachment: fixed;
    height: 450px;
    padding: 200px;
}

#transform-world p {
    text-transform: lowercase;
    font-weight: 900;
    max-width: 250px;
    text-shadow: 3px 2px #31A8DD;
    font-size: 2.5rem;
}

#professional-challenges {
    padding: 16px;
    height: 650px;
    text-align: center;
    border-bottom: 1px solid #31A8DD;
}
#professional-challenges p {
    margin-left: 250px;
    margin-right: 250px;
}

#professional-challenges img {
    margin: 32px 250px;
    background-size: auto;
    width: auto;
}

footer {
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    padding: 60px 0;
}

footer a {
    color: #31A8DD;
    font-weight: bold;
    text-decoration: none;
}